Flask>=3.0
Telethon
heroku3
lyricsgenius
yt-dlp
youtube-search-python
SQLAlchemy
sqlalchemy-json
validators
requests
aiohttp
Pillow
fonttools
pytz
lxml
lxml_html_clean
legacy-cgi
html-telegraph-poster-v2
