Flask>=3.0
Telethon
heroku3
GitPython
IMDbPY
Wand
colour
emoji
googletrans>=4.0.2
jikanpy
lyricsgenius
markdown
motor
moviepy
yt-dlp
youtube-search-python
search-engine-parser
SQLAlchemy
sqlalchemy-json
ujson
urlextract
validators
requests
aiohttp
Pillow
fonttools
pytz
lxml
lxml_html_clean
legacy-cgi
html-telegraph-poster-v2
