Flask>=3.0
Telethon
heroku3
telegraph
GitPython
IMDbPY
Wand
colour
emoji
googletrans>=4.0.2
jikanpy
lyricsgenius
markdown
motor
moviepy
yt-dlp
youtube-search-python
SQLAlchemy
sqlalchemy-json
ujson
urlextract
validators
requests
aiohttp
Pillow
python-barcode
cloudscraper
geopy
gTTS
hachoir
justwatch
lottie
prettytable
pySmartDL
pyfiglet
pymediainfo
qrcode[pil]
selenium
spamwatch
speedtest-cli
wget
youtube-search
fonttools
pytz
lxml>=6.1.2
lxml_html_clean
legacy-cgi
